<div class="main-content" style="background: white;
margin-left: 50px;
margin-top: 100px;
margin-right: 50px;"> 
<div class="card-body" style="padding: 10% 10% 10% 10%;">
    <div style="width: 30%;float: left;" >
      <button style="float:unset;margin-right: 100px;" class="btn btn-default" disabled>Select Model</button>
      <!-- <label>Select Model :</label> -->

      <select id="model" style="margin-left:20px;" >
        <option value="model1">Model 1</option>
        <option value="model2">Model 2</option>
        <option value="model3">Model 3</option>
        <option value="model4">Model 4</option>
      </select>
    </div>
    <div style="width: 27%;float: right;
    margin-right: 50px;">
      <button style="float:unset;margin-right: 100px;" class="btn btn-default" disabled>Upload Data</button><br>
    </div>
    </div>
 </div>
