@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.buttonB{
    border-radius: 5px;
    color: #828485; 
    background-color: #e8e5e5;
    border-color: #dbdcdd !important;
    border: solid;
}
.spanstyle{
  border-radius: 5px;
  float: left;
  color: #828485;
  background-color: #e8e5e5;
  border-color: #dbdcdd !important;
  border: solid;
  border-radius: 5px;
}
.spanstyle:hover{
    color: whitesmoke;
    background-color: cornflowerblue !important;
    border-color: rgb(90, 141, 236) !important;
    border: solid;
    border-radius: 5px;
    float: left;
}
.buttonB:hover{
    color: whitesmoke;
    background-color: cornflowerblue;
    border-color: rgb(90, 141, 236) !important;
    border: solid;
}

.main-test .perfect-scrollbar-on {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}


/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */