<div style="width: 100%;height:100%;margin-left: 15px;" class="main-test">

  <div class="fileinput fileinput-new text-center" style="width: 100%;" data-provides="fileinput" *ngIf="testModel">

    <!-- <div class="fileinput-preview fileinput-exists thumbnail"></div> -->
    <div style="width: 100%;">
      <span class="btn btn-rose btn-round btn-file" style="border-radius: 5px;float: left; ">
        <span class="fileinput-new" >Upload Document</span>
        <span class="fileinput-exists">Change</span>
        <input type="file" id="img" name="img" accept="image/*" (change)="readURL($event.target.files);" multiple/>
      </span>
      <span class="btn btn-rose btn-round btn-file" style="border-radius: 5px; float: right;margin-right: 50%;" *ngIf="testButton" (click)="submitTest()">
        <span >Test</span>
        <!-- <input type="file" id="img" name="img" accept="image/*" (change)="readURL($event.target.files);" multiple/> -->
      </span>

      <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"
        (click)="removeTemplateImage()"><i class="fa fa-times"></i> Remove</a> -->
      <!-- <div> -->
      <!-- <span> OR </span> -->
      <!-- <span class="btn btn-rose btn-round btn-file" (click)="getSampleImage()">Get Sample Image</span> -->
      <!-- </div> -->
    </div>

  </div>
  <!-- <div *ngFor="let obj of files;let i = index">
      <div class="card-body" style="overflow-y: scroll !important;height: 600px;">
        <img id="blah" [src]="document"  [alt]='imageAlt' style="max-height: 100%;" />
        <p><img id="output" width="200" /></p>
        </div>
  </div> -->
  <div class="card-body" style="height: 600px;" *ngFor="let url of urls,let i=index">
    <b>FileName : {{fileName[i]}}</b><br>
    <img [src]="url" class="rounded mb-3" style="max-height: 100%;">
  </div>
</div>